@{
    ViewBag.Title = "About";
}
<section class="row photoHeader titularRow">


</section>
<section class="row">
    <section class="col-xs-12 col-xs-push-2">
        <hgroup>
            <h2>Our History</h2>
        </hgroup>
    </section>
</section>
<section class="row">
    <section class="col-xs-6 col-xs-push-2 historicalContent">
        <p>
            The group unofficially began when a group of friends in choir at the University of Wisconsin-Madison decided to start a premier “Fake A Cappella Group” in 2009.
            Pitches and Notes became an official student organization a year later after these woman decided they wanted to make their singing ensemble dreams a reality.
        </p>
    </section>
</section>
<section class="row">
    <section class="col-xs-6 col-xs-push-2">
        <p>
            <strong>Founders:</strong>
            <ul>
                <li>Maddie Smith</li>
                <li>Pratha Muthiah</li>
                <li>Kim Kinnear</li>
                <li>Ariel Dins</li>
            </ul>
            <strong>Alumni:</strong>
            <ul>
                <li>Sarah Denton, 2016</li>
                <li>Lauren Dalzin, 2016</li>
                <li>Amanda Applequist , 2016</li>
                <li>Linda Mei, 2016</li>
                <li>Maddie Turnquist, 2016</li>
                <li>Brooke Harding, 2014</li>
                <li>Jen Reilly, 2014</li>
                <li>Kelsey Clark, 2014</li>
                <li>McKenzie Mayer, 2014</li>
                <li>Morgan Rehberg, 2014</li>
                <li>Clara Wittman, 2014</li>
                <li>Lisa Deneckere, 2013</li>
                <li>Kelsey Pickart, 2013</li>
                <li>Hannah Udell, 2013</li>
                <li>Cerys Downing, 2013</li>
                <li>Tessa Coggio, 2013</li>
                <li>Brianna Woller, 2013</li>
                <li>Ariel Dins, 2013</li>
                <li>Maura Mullen, 2013</li>
                <li>Kate Sinclair, 2013</li>
                <li>Alex Ross, 2012</li>
                <li>Amanda Timmers, 2011</li>
                <li>Kim Kinnear, 2011</li>
                <li>Pratha Muthiah, 2011</li>
                <li>Maddie Smith, 2011</li>
            </ul>
        </p>
    </section>
</section>




