
@{
    ViewBag.Title = "Auditions";
}
<section class="row photoHeader titularRow"></section>

<section class="row">
    <section class="col-xs-4 col-xs-push-2">
        <hgroup>
            <h2>Auditions</h2>
        </hgroup>
    </section>
</section>
<section class="row">
    <div class="col-xs-12 col-xs-push-2">
        <h4>Information to come shortly. Check back soon!</h4>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</section>
