@{
    ViewBag.Title = "Donations";
}
<section class="titularRow photoHeader"></section>
<section class="row">
    <section class="col-xs-12 col-xs-push-2">
        <hgroup>
            <h2>Thank you, Donors!</h2>
        </hgroup>
    </section>
</section>
<section class="row">
        <section class="col-xs-12 text-center">
            <p class="announcementText"> &mdash; Pitches and Notes thanks all donors for their support!</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="MC36P5HP4MB5C">
                <input type="image" src="http://pitchesandnotes.files.wordpress.com/2013/04/dsc_1393editthank-you-donors2.jpg?w=150" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <p>&lowast; Please click the above image to proceed to make a donation on Paypal.</p>
        </section>
</section>