@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IAmAPitch</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid PitchLogin"> 

        @*@Html.Partial("_LoginPartial")*@
        <div class="LoginBox">
            <h2>Let's Get You Started</h2>
            <hr />

            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "StartButton" })

            @*@Html.Partial("_LoginPartial")*@
        </div>


    </div>
</body>
</html>
