<section class="titularRow photoHeader">
    <div class="row">

    </div>
</section>
<section class="row">
    <section class="col-xs-12 col-xs-push-2">
        <hgroup>
            <h2>Listen in</h2>
            <h3>Pitches and Notes</h3>
        </hgroup>
    </section>
</section>
<section class="row">
    @*<div class="col-xs-12 col-xs-push-2 col-md-4">
        <a href="#">Video #1</a>
        <br />
        <a href="#">Video #2</a>
        <br />
        <a href="#">Video #3</a>
        <br />
        <a href="#">Video #4</a>
        <br />
        <a href="#">Video #5</a>
        <br />
        <a href="#">Video #6</a>
    </div>*@
    <section class="col-xs-12 text-center">

        <iframe width="800" height="500" src="https://www.youtube.com/embed/bLi0qIiFh8U" frameborder="0" allowfullscreen></iframe>
        <p class="announcementText"> &mdash; Be sure to check out some of our other stuff on our <a href="https://www.youtube.com/channel/UChrjjyGLdi1ywThIi9A6PZg/featured">youtube channel</a>!</p>

    </section>
</section>