<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pitchesandnotes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pitchesandnotes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PitchesAndNotes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PitchesAndNotes</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PitchesAndNotesEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PitchesAndNotes.Models.PitchesAndNotesEntities, PitchesAndNotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:fefavdsf31.database.windows.net,1433;Initial Catalog=PitchesAndNotes;User ID=stfranklin@fefavdsf31;Password=1048Boston;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PitchesAndNotes-20151223105146.mdf;Initial Catalog=aspnet-PitchesAndNotes-20151223105146;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-PitchesAndNotes-20151223105146.mdf;Initial Catalog=aspnet-PitchesAndNotes-20151223105146;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LocalConnection" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:fefavdsf31.database.windows.net,1433;Initial Catalog=PitchesAndNotes;User ID=stfranklin@fefavdsf31;Password=1048Boston;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PitchesAndNotes.Models.ApplicationDbContext, PitchesAndNotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PitchesAndNotesEntities3" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PitchesAndNotes.Models.PitchesAndNotesEntities3, PitchesAndNotes" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PitchesAndNotesEntities2" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=PitchesAndNotes;User ID=RunFranks525;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PitchesAndNotesEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Member.csdl|res://*/Models.Member.ssdl|res://*/Models.Member.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=PitchesAndNotes;user id=RunFranks525;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="PitchesAndNotesEntities1" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SCOTTSLAPTOP;Initial Catalog=PitchesAndNotes;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PitchesAndNotesEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.MemberDataModel.csdl|res://*/Models.MemberDataModel.ssdl|res://*/Models.MemberDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SCOTTSLAPTOP;initial catalog=PitchesAndNotes;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fefavdsf31.database.windows.net,1433;Initial Catalog=PitchesAndNotes;User ID=stfranklin@fefavdsf31;Password=1048Boston;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fefavdsf31.database.windows.net,1433;Initial Catalog=PitchesAndNotes;User ID=stfranklin@fefavdsf31;Password=1048Boston;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PitchesAndNotesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PitchesAndNotesEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PitchesAndNotesEntities2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PitchesAndNotesEntities3-Web.config Connection String" />
  </ItemGroup>
</Project>