@model PitchesAndNotes.Models.Event
<div class="col-md-4">
    <h3 class="eventTitle">@Model.Title</h3>
    <h6 class="eventDate">@Model.Date</h6>
    <hr class="hrSec" />
    <p class="edit" id="div_1">
        @Model.Description
    </p>
</div>